@import "tailwindcss";

@theme {
  --color-palette-1: #293132;
  --color-palette-2: #474044;
  --color-palette-3: #547AA5;
  --color-palette-4: #50D8D7;
  --color-palette-5: #4F5165;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
